
*{
    box-sizing: border-box;
}

html , body {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #fff;
    color: #000;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
    display: inline-block;
}

button{
    /* تمامی استایل ها رو از بین میبرد */
    all: unset; 
}

.paragraph{
    font-size: 25px;
}

h1{
    font-size: 25px;
    color: red;
    &:hover{
        color: blue;
    }
}

// Test style to verify compilation
body {
    background-color: #f0f0f0 !important; // Temporary test - remove after testing
}

.siteHeader{
    .container{

        .link{
            color: rgba(255,0,255,0.8);
            transition: color 0.5s;
            font-size: 25px;
            &:hover{
                color: #c05a5a;
            }
        }
    }
}

